

<div class="container">
    <h2>Sinatra Template Default Page</h2>

    <div class="content">
      <h1>Welcome!!</h1>

      <p>SecretFamilyRecipe is a place for families to come together and share recipes.
      My name is Tyler Huffman. Every year on Christmas, we eat the bread that my great-Great-Grandmother use to make.
      She is no longer with us, but her secret lives on. I hope that families can use a site like this
      to continue the traditions of food through many, many generations.</p>
      
        <!--<li>Hidden inputs for patches and deletes</li>
        <li></li>
        <li>Finish Layout(create header and footer)</li>
        <li>Validations: no blank inputs  </li>
        <li></li>
        <li>TEST EVERYTHING</li>
        <li>CSS</li>
        <li>*Populate ingredients?</li>
        <li>*CRUD ingredients?</li>
        <li>*Ruby Autocomplete form from database for ingredients? Or seperate file with an array of ingredients. load autocomplete from that file.</li>
    --->
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>
</div>
